# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__
.*/

# User-Defined
static
discord_playlist.*
secret.py
spoti.py
youtube.py
*.json
*.txt
!requirements.txt

# Extras
bot_workspace.*
test.py
message.py
access_token.*